@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root ::-webkit-scrollbar {
  width: 3px;
}
:root ::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}
:root ::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Estilo do sidenav */
.sidenav {
  transition: 500ms;
  width: 20vw;
  background-color: #202020;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #555;
  color: white;
  box-sizing: border-box;
  position: relative;
}
.sidenav h2 {
  color: #fafafa;
  margin-bottom: 20px;
  font-size: 16px;
}
.sidenav a {
  color: #fafafa;
  padding: 10px;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
  transition: 400ms;
}
.sidenav a:hover {
  background-color: #007bff;
}
.sidenav svg {
  margin-right: 15px;
}
.sidenav .sidenav-slide {
  position: absolute;
  right: -20px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  cursor: pointer;
}
.sidenav .sidenav-slide svg {
  margin: 0;
  font-size: 20px;
  transform: rotate(180deg);
  color: #fff;
  transition: 500ms;
}
.sidenav #groups, .sidenav #users {
  transition: 500ms;
}
.sidenav.close {
  width: 0px;
}
.sidenav.close #groups, .sidenav.close #users {
  display: none;
  transition: 500ms;
}
.sidenav.close .sidenav-slide svg {
  transform: rotate(0deg);
}

/* Estilo da área de chat */
.chat {
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #202020;
  overflow: hidden;
}

.chat-header {
  background-color: rgba(0, 123, 255, 0.05);
  color: #fafafa;
  padding: 10px;
  border-radius: 4px;
  height: 10%;
  display: flex;
  align-items: center;
}
.chat-header h2 {
  margin: 0;
}

#chat-messages {
  height: 70vh;
  max-height: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  padding-bottom: 10vh;
  position: relative;
}

.messages-container {
  width: 100%;
  height: calc(100% - 20px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y proximity;
  padding-right: 2px;
}
.messages-container .message {
  gap: 12px;
  display: flex;
  align-items: center;
  scroll-snap-align: center;
  flex: none;
  animation: messageLoad 0.5s ease-in-out;
}
.messages-container .message.message-right {
  flex-direction: row-reverse;
  justify-content: end;
}
.messages-container .message.message-right .item-wrapper {
  align-items: end;
}
.messages-container .message.message-right .item-wrapper .user-name {
  display: none;
}
.messages-container .message.message-right .item-wrapper .message-wrapper img {
  display: none;
}
.messages-container .message .item-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.messages-container .message .item-wrapper .user-name {
  font-size: 14px;
  color: #555;
  padding: 0;
  margin: 2px 0;
  font-weight: 500;
}
.messages-container .message .item-wrapper .message-wrapper {
  display: flex;
  gap: 12px;
}
.messages-container .message .item-wrapper .message-wrapper p {
  margin: 10px 0;
  padding: 10px;
  border-radius: 0px 6px 6px 6px;
  word-break: break-word;
  letter-spacing: 0.5px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
}
.messages-container .avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.chat-input {
  display: flex;
  margin-top: -50px;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.chat-input form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.chat-input form input {
  width: calc(100% - 150px);
  height: 40px;
  padding: 6px 12px 6px 12px;
  border: 1px solid #555;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  outline: none;
  font-size: 16px;
}
.chat-input form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-input form button:hover {
  background-color: #0056b3;
}
.chat-input form button svg {
  font-size: 16px;
}

.typing {
  margin: 0;
  text-align: center;
  color: rgba(202, 202, 202, 0.4196078431);
  animation: typing 2s infinite;
}

@keyframes typing {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes messageLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
